/* Banner Section */

section.banner-sec-wrap {
  height: 510px;
  position: relative;
  background-image: url('../img/banner-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

section.banner-sec-wrap::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

/* Breadcurmb */
nav.breadcrumb-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

section.banner-sec-wrap .container {
  position: relative;
  height: 100%;
}

.banner-content h2 {
  font-size: 52px;
  font-weight: 500;
  padding-bottom: 20px;
  margin-bottom: 30px;
  position: relative;
  color: #fff;
  text-transform: uppercase;
}

.banner-content h2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100px;
  height: 2px;
  background-color: #FC2C27;
  margin-left: -50px;
}

.banner-content p {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 0;
  color: #fff;
  font-weight: 400;
}

.banner-content {
  padding-bottom: 60px;
}

ol.breadcrumb {
  margin-bottom: 0;
  text-align: center;
  background-color: #F52426;
  justify-content: center;
  padding: 20px 0;
  width: 80%;
  margin: 0 auto;
}

ol.breadcrumb li a,
ol.breadcrumb li.active,
ol.breadcrumb li {
  font-size: 14px;
  color: #f1f1f1;
  font-weight: 500;
  letter-spacing: 1px;
}

.breadcrumb-item+.breadcrumb-item::before {
  color: #f1f1f1;
  content: '\f101';
  font-family: 'font awesome 5 free';
  font-weight: 900;
}


/* Banner Section end */


/* About us */

.about-us-cotent h2 {
  font-size: 46px;
  margin-bottom: 16px;
  color: #36383d;
  font-weight: 400;
}

.about-us-cotent h2 span {
  font-weight: 500;
}

.about-us-cotent h6 {
  font-weight: 300;
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 0px;
  color: #36383d;
}

.about-us-cotent h6:last-of-type {
  margin-bottom: 25px;
}

.about-us-cotent p {
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 10px;
  color: #6f6f6f;
}

section.about-us-cotent-wrap {
  padding: 100px 0;
  padding-bottom: 90px;
}

.about-us-img {
  position: relative;
}

.about-us-img .video-popup {
  position: absolute;
  display: inline-block;
  text-align: center;
  left: 50%;
  top: 50%;
  background-color: #FC2C27;
  border: none;
  color: #fff;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  line-height: 52px;
  padding-left: 5px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.about-us-img img {
  width: 100%;
}

.about-us-img {
  margin-top: 70px;
}

.about-us-box {
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 60px 40px;
  margin-top: 40px;
}

.about-us-box h4 {
  font-size: 24px;
  font-weight: 500;
  position: relative;
  margin-bottom: 24px;
  padding-bottom: 10px;
}

.about-us-box h4::before,
.about-us-box h4::after {
  content: '';
  position: absolute;
  background-color: #FC2C27;
  left: 50%;
  bottom: 0;
  width: 60px;
  height: 2px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.about-us-box p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 0;
}

/* About us end */

/* vehicles section */
.vehicles-top-bar-wrap {
  padding: 60px 0;
  background-color: #F8F9FA;
}

.vehicles-top-left span {
  font-size: 14px;
  font-weight: normal;
  line-height: 32px;
  color: #808080;
  display: block;
}

.vehicles-top-right button {
  display: inline-block;
  margin-right: 10px;
  color: #FC2C27;
  font-size: 20px;
  min-width: 50px;
  min-height: 50px;
  background: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 16px 32px 0px rgba(217, 217, 217, 0.57);
  box-shadow: 0px 16px 32px 0px rgba(217, 217, 217, 0.57);
  border: none;
}


.vehicles-card-img {
  width: 350px;
  position: relative;
}

.vehicles-card-img img {
  width: 100%;
  height: 100%;
}

.vehicles-card-wrapper {
  background-color: #F8F9FA;
  padding-bottom: 70px;
}

.single-vehicles-card {
  background-color: #FFFFFF;
  margin-bottom: 30px;
}

.vehicle-card-content {
  padding: 20px 30px;
  padding-right: 20px;
  width: calc(100% - 350px);
}

.vehicle-card-content span.top-notice {
  font-size: 13px;
  font-weight: 500;
  display: block;
  margin-bottom: 0;
}


.vehicle-card-content h4 {
  font-size: 20px;
  font-weight: 600;
  color: #1a1e1e;
  margin-bottom: 28px;
}

.vehicle-card-content h6 {
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
}

.vehicle-card-content h6 span {
  color: #FC2C27;
}

ul.vehicle-card-list li {
  font-size: 13px;
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
}

ul.vehicle-card-list {
  padding-left: 0;
  list-style: none;
}

ul.vehicle-card-list li span {
  font-weight: 500;
}

.vehicle-card-bottom {
  border-top: 1px solid #f1f1f1;
  padding-top: 20px;
}

.vehicle-card-bottom a {
  font-size: 14px;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  text-align: center;
  width: 120px;
  border: 1px solid #FC2C27;
  color: #FC2C27;
  font-weight: 500;
  text-transform: capitalize;
}

.vehicles-card-img span.offer-meta {
  position: absolute;
  left: 15px;
  top: 15px;
  background-color: #FC2C27;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  min-width: 101px;
  text-align: center;
  border-radius: 3px;
  padding: 3px 5px;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

/* vehicle card end */

/* vehicle filter */


.vehicles-filter-area {
  background-color: #fff;
  padding: 20px 20px;
}

.vehicle-sidebar-title h4 {
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 20px;
  padding-bottom: 10px;
  position: relative;
}


.vehicle-filter-head button {
  display: block;
  width: 100%;
  text-align: left;
  padding: 0;
  height: 38px;
  border-bottom: 1px solid #eee;
  line-height: 38px;
  position: relative;
  margin: 0;
  color: #FF3328 !important;
  text-decoration: none !important;
  transition: all ease 0.4s;
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -ms-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
}

.vehicle-filter-head button.collapsed {
  color: #1a1e1e !important;
}

.vehicle-filter-head button:hover {
  color: #FC2C27 !important;
  text-decoration: none;
}


.vehicle-sidebar-title h4::before,
.vehicle-sidebar-title h4::after {
  position: absolute;
  content: '';
  background-color: #FC2C27;
  width: 30px;
  height: 2px;
  bottom: 0;
  left: 0;
}

.vehicle-sidebar-title h4::after {
  left: 35px;
  width: 10px;
}

.vehicle-filter-head button::before {
  position: absolute;
  content: '\f105';
  font-family: 'font awesome 5 free';
  right: 10px;
  font-weight: 900;
  font-size: 13px;
  color: #FC2C27;
  transition: all ease 0.4s;
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -ms-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}



.vehicle-filter-head button.collapsed::before {
  color: #1a1e1e;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}

.vehicle-filter-head button:hover::before {
  color: #FF3328;
}

form.filter-search-form {
  background-color: #F8F9FA;
  padding: 20px 10px;
}

form.filter-search-form input[type='text'] {
  border: none;
  background-color: #fff;
  font-size: 14px;
  height: 40px;
  width: 100%;
  padding-left: 10px;
  margin-bottom: 15px;
}

.single-vehicle-checkbox label {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 0;
  color: #1a1e1e;
}

.single-vehicle-checkbox {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}

/* Checkbox CSS  */

.single-vehicle-checkbox input[type="checkbox"] {
  background-color: #fff;
  border: 2px solid #EAEDF4;
  height: 18px;
  width: 18px;
  margin-right: 10px;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  position: relative;
  transition: .15s;
  -webkit-transition: .15s;
  -moz-transition: .15s;
  -ms-transition: .15s;
  -o-transition: .15s;
}


.single-vehicle-checkbox input[type="checkbox"]:checked {
  background-color: #FF3328;
  border-color: transparent;
}

.single-vehicle-checkbox input[type="checkbox"]:before,
.single-vehicle-checkbox input[type="checkbox"]:checked:before {

  color: #fff;
  /* Checked Color */
  line-height: 13px;
  /* Fix With Height */
  content: '';
  /* Before Check Content */

  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 11px;
}

.single-vehicle-checkbox input[type="checkbox"]:checked:before {
  content: "\f00c";
  /* Checked Content */
}

/* vehicle filter end */




/* vehicles section end */





/* Contact Us */
section.contact-sec-wrapper {
  background-color: #F2F2F2;
  padding-bottom: 100px;
  padding-top: 160px;
}

.contact-info-wrap {
  background-color: #010101;
  padding: 30px 37px;
  position: relative;
  z-index: 2;
  margin-left: 50px;
  border-radius: 3px;
}

.contact-form-title h2,
.contact-info-title h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 10px;
}

.contact-form-title h2 {
  color: #1e1a1a
}

.contact-info-title p {
  color: #fff;
  font-size: 14px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  position: relative;
  margin-bottom: 0;
}


.single-contact p {
  color: #fff;
  line-height: 28px;
  font-size: 15px;
  width: calc(100% - 35px);
  margin-bottom: 0;
}

.single-contact span {
  width: 30px;
  height: 35px;
  font-size: 19px;
  color: #fff;
  padding-top: 3px;
}

.single-contact {
  margin-bottom: 25px;
}

.contact-info-title {
  margin-bottom: 30px;
}

.contact-form-title p {
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 500;
  margin-bottom: 0;
}

.contact-form-title {
  margin-bottom: 30px;
}

form.contact-form-wrapper {
  padding: 80px 60px;
  position: relative;
  margin-top: -57px;
  background-color: #fff;
  padding-left: 160px;
  margin-left: -100px;
  z-index: 1;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

form.contact-form-wrapper .form-group input,
form.contact-form-wrapper .form-group textarea {
  font-size: 13px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
}

form.contact-form-wrapper .form-group textarea {
  min-height: 120px;
}

form.contact-form-wrapper .form-group button {
  width: 180px;
  display: inline-block;
  height: 45px;
  font-size: 14px;
  border: none;
  background-color: transparent;
  color: #000;
  margin-top: 20px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border: 1px solid #000;
  transition: all ease 0.4s;
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -ms-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
}

form.contact-form-wrapper .form-group button:hover {
  background-color: #f92424;
  color: #fff;
  border-color: #F92424;
}

/* Contact Us end */


/* Terms and condition */


.terms-and-conditon-area {
  background-color: #fff;
  padding: 30px 20px;
  box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.1);
}

.terms-and-condition-wrap {
  background-color: #F2F2F2;
  padding: 100px 0;
}

.terms-title h6 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 30px;
}

.terms-box h6 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 40px;
}

.terms-seciton-title h2 {
  font-size: 32px;
  font-weight: 600;
  color: #1a1e1e;
  padding-bottom: 20px;
  margin-bottom: 30px;
  position: relative;
  text-transform: capitalize;
}

.terms-seciton-title h2::before {
  content: '';
  position: absolute;
  background-color: #FC2C27;
  height: 4px;
  width: 150px;
  bottom: 0;
  left: 50%;
  margin-left: -75px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* Terms and condition end */


/* ***Responsive media query*** */

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width:1500px) {


}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .accordion {
    margin-bottom: 40px;
  }

  .vehicles-top-bar-wrap {
    padding: 60px 0;
    padding-bottom: 20px;
  }

  .banner-content {
    width: 100%;
  }

  .about-us-img {
    margin-bottom: 40px;
    margin-top: 0;
  }

  section.contact-sec-wrapper {
    padding-bottom: 100px;
    padding-top: 100px;
  }

  .single-contact span,
  .contact-form-title h2,
  .contact-info-title h2,
  .contact-info-title p,
  .single-contact p {
    color:#1e1a1a;
  }

  .contact-info-wrap {
    background-color: #fff;
    padding: 30px 40px;
    margin-left: 0;
    margin-bottom: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


  form.contact-form-wrapper {
    padding: 30px 60px;
    position: relative;
    margin-top: 0;
    padding-left: 40px;
    margin-left: 0;
  }

}

/* Extra small devices (portrait phones, less than 768px) */
@media (max-width: 767.98px) {

  .banner-content {
    width: 100%;
    padding: 0 15px;
    padding-bottom: 50px;
  }

  section.banner-sec-wrap {
    height: 340px;
  }

  .banner-content h2 {
    font-size: 26px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .banner-content p {
    font-size: 17px;
    line-height: 29px;
    margin-bottom: 0;
    color: #fff;
    font-weight: 400;
  }

  ol.breadcrumb {
    padding: 15px 0;
    width: 90%;
  }

  .vehicles-filter-area {
    margin-bottom: 40px;
  }

  .vehicles-top-bar-wrap {
    padding: 40px 0;
    background-color: #F8F9FA;
    padding-bottom: 30px;
  }


  .vehicles-card-img {
    width: 100%;
    position: relative;
  }

  .vehicle-card-content {
    padding: 20px 15px;
    padding-right: 15px;
    width: 100%;
  }

  .vehicle-card-list.w-25 {
    width: 35% !important;
  }
  .vehicle-card-list.w-75 {
    padding-left: 30px !important;
    width: 65% !important;
  }

  .vehicle-card-bottom a {
    font-size: 12px;
    height: 35px;
    line-height: 35px;
    width: 100px;
  }
  .about-us-img {
    margin-bottom: 40px;
    margin-top: 0;
  }

  section.about-us-cotent-wrap {
    padding: 60px 0;
    padding-bottom: 30px;
  }

  .about-us-cotent h2 {
    font-size: 38px;
  }

  .about-us-cotent h6 {
    font-size: 19px;
  }

  section.contact-sec-wrapper {
    padding-bottom: 60px;
    padding-top: 60px;
  }


  .single-contact span,
  .contact-form-title h2,
  .contact-info-title h2,
  .contact-info-title p,
  .single-contact p {
    color: #1e1a1a;
  }

  .contact-info-wrap {
    background-color: #fff;
    padding: 30px 20px;
    margin-left: 0;
    margin-bottom: 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }


  form.contact-form-wrapper {
    padding: 30px 20px;
    position: relative;
    margin-top: 0;
    padding-left: 20px;
    margin-left: 0;
  }

  .terms-and-condition-wrap {
    padding: 60px 0;
  }

  .terms-seciton-title h2 {
    font-size: 24px;
  }

  .terms-seciton-title h2::before {
    width: 120px;
    margin-left: -60px;
  }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {}
